body {
  font-family: 'Jersey 15', sans-serif;
  font-size: x-large;
  background-color: #d8d8d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h3, h1 {
  color: palevioletred;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; 
  margin: 20px 0; 
}

.grid img {
  width: 100%; 
  height: auto; 
  border-radius: 10px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  transition: transform 0.2s; 
}

.grid img:hover {
  transform: scale(1.1); 
}

#result {
  font-weight: bold;
  font-size: x-large;
  color: #007bff;
}
button {
  padding: 10px;
  font-size: large;
  background-color: palevioletred;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #d45d7a;
}
